
<td  style="width: 20.00%;padding: 3px;text-align: center;">
    <a href="#" style="position: relative;display: block;">
        <img  width="100%" src='data:image/png;base64,#IMAGEDATA#' alt="img" style="max-width: 100%;display: block;margin: 0 auto;" />
        <span class="imgnumber" style="position: absolute;top: 5%;left: 5%;padding: 5px 7px;color: #ffffff;border: 1px solid #ffffff;">#ITEM_NUMBER#</span>
    </a>
</td>
