
<tr class="item">
    <td style="padding: 5px;vertical-align: sub;width: 12%;"></td>
    <td style="padding: 5px;vertical-align: sub;width: 20%;"></td>
    <td style="padding: 5px;vertical-align: sub;width: 56%;"></td>
    <td style="border: 1px solid #A6A6A6;font-weight: bold;padding: 5px;width: 12%;text-align:right;">#TOTAL_COST#</td>
</tr>

