<tr class="item">
    <td style="border: 1px solid #A6A6A6;padding: 5px;">
    <table width="100%" style="text-align:center;">
        <tr>
            <td>#LINE_ITEM#</td>
        </tr>
    </table>
     </td>
     <td style="border: 1px solid #A6A6A6;padding: 5px;">
    <table>
        <tr>
            <td style="white-space: nowrap;">#LINE_TITLE#</td>
        </tr>
    </table>
     </td>
     <td width="60%" style="border: 1px solid #A6A6A6;padding: 5px;font-size: 13px;">
    <table>
        <tr>
            <td style="font-size:14px !important;">#LINE_DESCRIP#</td>
        </tr>
    </table>
     </td>
     <td style="border: 1px solid #A6A6A6;padding: 5px;">
    <table  width="100%">
        <tr>
            <td style="text-align:right;">#LINE_PRIZE#</td>
        </tr>
    </table>
     </td>
</tr>


<!--<tr class="item" style="padding-left: 5px;padding-right: 5px;">-->
<!--    <td style="border: 1px solid #A6A6A6;text-align:center;padding-left: 5px;padding-right: 5px;">#LINE_ITEM#</td>-->
<!--    <td style="border: 1px solid #A6A6A6;white-space: nowrap;padding-left: 5px;padding-right: 5px;">#LINE_TITLE#</td>-->
<!--    <td style="border: 1px solid #A6A6A6;font-size:10px !important;padding-left: 5px;padding-right: 5px;">#LINE_DESCRIP#</td>-->
<!--    <td style="border: 1px solid #A6A6A6;text-align:right;padding-left: 5px;padding-right: 5px;">#LINE_PRIZE#</td>-->
<!--</tr>-->
