
<tr class="item">
    <td style="padding: 5px;vertical-align: sub;width: 10%;"></td>
    <td style="padding: 5px;vertical-align: sub;width: 20%;"></td>
    <td style="padding: 5px;vertical-align: sub;width: 60%;"></td>
    <td style="border: 1px solid #000000;font-weight: bold;padding: 5px;vertical-align: sub;width: 10%;">#TOTAL_COST#</td>
</tr>

