<tr class="item">
        <td style="border: 1px solid #000000;padding: 5px;vertical-align: sub;">#LINE_ITEM#</td>
        <td style="border: 1px solid #000000;padding: 5px;vertical-align: sub;">#LINE_TITLE#</td>
        <td style="border: 1px solid #000000;padding: 5px;vertical-align: sub;">#LINE_DESCRIP#</td>
        <td style="border: 1px solid #000000;padding: 5px;vertical-align: sub;">#LINE_PRIZE#</td>
</tr>
